[push]
	default = simple
[user]
	name = hurleychin
	email = qinhulin@gmail.com
[core]
	autocrlf = input
	quotepath = false
	filemode = false
[diff]
    tool = kompare
[difftool]
	prompt = false
[pull]
	rebase = false
