" Base setting
set ignorecase
set smartcase
set hlsearch
set incsearch
set scrolloff=3

" Toggle highlight search
noremap <Leader>/ :set hls!<CR>

" Y equal y$ in Normal mode 
nmap Y y$

" Use zm/zr map to zM/Zr
nnoremap zm zM
nnoremap zr zR

" Use 0 map to Yank registers 0 when Paste
nnoremap 0p "0p
nnoremap 0P "0P

" Use <Leader>a/b add a new white-space line above/belowe cursor in normal mode
nnoremap <Leader>a O<Esc>
nnoremap <Leader>b o<Esc>

" Use gb map to gT
nnoremap gb gT 

" split line
nnoremap <C-j> i<CR><Esc>

" Paste clipboard content
nmap <Leader>p "+p
"cmap <Leader>p <C-R>+

" Use tab indenting source code
nnoremap <Tab> >>_
nnoremap <S-Tab> <<_
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv

" exiting Insert Mode will automatically disable the Input Method
set imdisable

" Emulated Vim Plugins
set surround

" Find 
nmap / :action Find<CR>

